services:
  consul:
    image: "hashicorp/consul:1.15.4"
    ports:
      - "8500:8500"
  mysql:
    image: "mysql:8.0.39"
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=041212
      - MYSQL_DATABASE=tiktok_e-commence
  redis:
    image: "redis:7.0.15"
    ports:
      - "6380:6379"